<h1>
  <%- if @page.new_record? -%>
    New Page
  <%- else -%>
    <%= link_to @page.title, @page.path %>
  <%- end -%>
</h1>

<%- form_for [:admin, @page] do |form| -%>
  <%= form.error_messages %>

  <div class="field">
    <%= form.label :parent_id %>
    <%- if @page.parent.generation.size > 1 -%>
      <%= form.collection_select :parent_id, @page.parent.generation, :id, :title %>
    <%- else -%>
      <%= form.hidden_field :parent_id %>
      <%= @page.parent.title %>
    <%- end -%>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <%= form.label :raw_keywords, 'Keywords' %>
    <%= form.text_field :raw_keywords %>
    <div class="annotation">
      <%= @page.keywords %>
    </div>
  </div>

  <div class="field">
    <%= form.label :raw_description, 'Description' %>
    <%= form.text_field :raw_description %>
    <div class="annotation">
      <%= @page.description %>
    </div>
  </div>

  <div class="field">
    <%= form.label :show_child_links_at %>
    <%= form.select :show_child_links_at, ['', 'top', 'bottom'] %>
  </div>

  <div class="field">
    <%= form.label :show_child_links_as %>
    <%= form.select :show_child_links_as, ['links', 'dropdown'] %>
  </div>

  <div class="field">
    <%= form.label :show_child_links_prompt %>
    <%= form.text_field :show_child_links_prompt %>
  </div>

  <div class="field">
    <%= form.check_box :hide_next_page %>
    <%= form.label :hide_next_page, "Hide link to next page" %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= find_and_preserve(form.textile_area :body) %>
  </div>

  <div class="field">
    <%= form.submit 'Save and Continue Editing', :name => 'page[continue_editing]' %>
    <%= form.submit 'Save and Close' %>
    or
    <%= link_to 'Cancel', admin_root_path %>
  </div>
<%- end -%>
