- form_for [:admin, @page] do |f|
  .field
    = f.label :parent_id
    = f.select :parent_id, Section.ordered.inject([]) { |options, section| options << [section.title, section.id]; section.children.each { |child| options << ['- ' + child.title, child.id] }; options }
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :slug
    = f.text_field :slug
  .field
    = f.label :body
    = textile_area :page, :body
  .field
    = f.submit 'Save changes', :name => 'page[continue_editing]'
    or
    = link_to 'Cancel', admin_sections_path
