%li[page]
  = link_to '&uarr;', admin_page_path(page, :page => { :move_higher => true }), :method => :put
  = link_to '&darr;', admin_page_path(page, :page => { :move_lower => true }), :method => :put
  = page.title
  - if page.parent === Section
    = link_to 'New Child Page', new_admin_page_path(:page => {:parent_id => page})
    = link_to 'New Donation Page', new_admin_donation_page_path(:donation_page => {:parent_id => page})
  = link_to 'View', page.path
  = link_to 'Edit', edit_admin_page_path(page)
  = link_to 'Delete', admin_page_path(page), :method => :delete, :confirm => 'Are you sure you want to delete this Page and all of its Children?'
  %ol
    = render :partial => page.children.positioned
