%h1 Gallery
- form_for [:admin, @gallery] do |form|
  = form.error_messages
  .field
    = form.label :parent_id
    = form.hidden_field :parent_id
    = @gallery.parent.title
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :slug
    = form.text_field :slug
  .field
    = form.label :body
    = form.text_area :body
  .field
    = form.submit 'Save and Continue Editing', :name => 'gallery[continue_editing]'
    = form.submit 'Save and Close'
    or
    = link_to 'Cancel', admin_root_path
