%h1 Gallery
- form_for [:admin, @gallery] do |form|
  = form.error_messages
  .field
    = form.label :parent_id
    = form.collection_select :parent_id, Section.ordered, :id, :title
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :slug
    = form.text_field :slug
  .field
    = form.submit 'Save changes'
    or
    = link_to 'Cancel', admin_sections_path
