%li[gallery]
  = link_to '&uarr;', admin_gallery_path(gallery, :gallery => { :move_higher => true }), :method => :put
  = link_to '&darr;', admin_gallery_path(gallery, :gallery => { :move_lower => true }), :method => :put
  = gallery.title
  = link_to 'New Photo', new_admin_page_path(:page => {:parent_id => gallery})
  = link_to 'Edit', edit_admin_gallery_path(gallery)
  = link_to 'Delete', admin_gallery_path(gallery), :method => :delete, :confirm => 'Are you sure you want to delete this Gallery and all of its Pages?'
  %ol
    = render :partial => gallery.children
