.image
  = slideshow_tag(@content.photos)

.text
  %h1= @content.title
  = textilize @content.body

  - Blog.all.each do |blog|
    - if blog.sorted_children.any?
      .blog.box
        %h2= link_to blog.title, blog.path
        %ul
          - blog.sorted_children.recent.each do |post|
            %li= link_to post.title, post.path
