.image
  = slideshow_tag(@content.photos)

#social_network_links    
  %ul
    %li= link_to image_tag('youtube.jpg',  :size => '80x30', :alt => 'Watch us on YouTube'), 'http://youtube.com/amanikids'
    %li= link_to image_tag('facebook.jpg', :size => '80x30', :alt => 'Friend us on Facebook'), 'http://www.facebook.com/amanichildrenshome'
    %li= link_to image_tag('twitter.jpg',  :size => '80x30', :alt => 'Follow us on Twitter'), 'http://twitter.com/amanikids'
  %p Follow the Amani kids!

.text
  %h1= @content.title
  = textilize @content.body

  - Blog.all.each do |blog|
    - if blog.sorted_children.any?
      .blog.box
        %h2= link_to blog.title, blog.path
        %ul
          - blog.sorted_children.recent.each do |post|
            %li= link_to post.title, post.path
