.image
  = slideshow_tag(@content)

.text
  %h2= @content.title
  = textilize @content.body

  - Blog.all.each do |blog|
    - if blog.children.any?
      .blog.box
        %h3= link_to blog.title, blog.path
        %ul
          - blog.children.recent.each do |post|
            %li= link_to content_tag(:div, post.title, :class => 'title') + content_tag(:div, textilize(truncate(post.body, 50).strip), :class => 'excerpt'), post.path

  .next_link
    = link_to "James' Amazing Rotating Fact Widget&trade;", '', :class => 'button'
