.image
  = slideshow_tag(@content)

.text
  %h2= @content.title
  = textilize @content.body

  - Blog.all.each do |blog|
    - if blog.children.any?
      .blog
        %h3= link_to blog.title, blog.path
        %ul
          - blog.children.recent.each do |post|
            %li= link_to post.title, post.path
