%h2 Share this Page
- form_for @share do |form|
  .field.textfield
    = form.label :to, "Recipient's Email Address"
    = form.text_field :to, :size => nil
    = form.error_message_on :to
  .field.textfield
    = form.label :from, "Sender's Email Address"
    = form.text_field :from, :size => nil
    = form.error_message_on :from
  .field.textarea
    = form.label :message, 'Message (Optional)'
    = form.text_area :message, :rows => 5, :cols => nil
  .field.submit
    = form.submit 'Share this Page'
