%h1 Share this Page

.padded
  %p You can send your friend a link to the page you are looking at. Thank you for helping to spread the word about the Amani children!
  - form_for @share do |form|
    .field.textfield
      = form.label :to_name, "Your friend's name"
      = form.text_field :to_name, :size => nil
      = form.error_message_on :to_name
    .field.textfield
      = form.label :to_address, "Your friend's email address"
      = form.text_field :to_address, :size => nil
      = form.error_message_on :to_address
    .field.textfield
      = form.label :from_name, "Your name"
      = form.text_field :from_name, :size => nil
      = form.error_message_on :from_name
    .field.textfield
      = form.label :from_address, "Your email address"
      = form.text_field :from_address, :size => nil
      = form.error_message_on :from_address
    .field.textarea
      = form.label :message, 'Message (Optional)'
      = form.text_area :message, :rows => 3, :cols => nil
      %p Amani will never share your contact information with a third party.
    .submit
      = form.submit 'Send'
