%h1
  - if @donation_page.new_record?
    New Donation Page
  - else
    = link_to @donation_page.title, @donation_page.path

- form_for [:admin, @donation_page] do |form|
  = form.error_messages
  .field
    = form.label :parent_id
    = form.hidden_field :parent_id
    = @donation_page.parent.title
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :slug
    = form.text_field :slug
  .field
    = form.label :raw_keywords, 'Keywords'
    = form.text_field :raw_keywords
  .field
    = form.label :raw_description, 'Description'
    = form.text_field :raw_description
  .field
    = form.label :body
    = form.textile_area :body
  .field
    = form.label :sidebar
    = form.textile_area :sidebar
  .field
    = form.label :footer
    = form.textile_area :footer

  %h2 Online Donation Configuration
  .field
    = form.label :online_donation_method
    = form.select :online_donation_method, ['', 'justgiving', 'paypal']
  .field
    = form.label :paypal_account
    = form.text_field :paypal_account
    (Only if you're using PayPal, of course.)
  .field
    = form.label :currency
    = form.text_field :currency
  .field
    = form.label :one_time_donation_title
    = form.text_field :one_time_donation_title
  .field
    = form.label :one_time_donation_amounts
    = form.text_field :one_time_donation_amounts
    (Leave blank to hide one-time donations.)
  .field
    = form.label :one_time_donation_text
    = form.textile_area :one_time_donation_text
  .field
    = form.label :monthly_donation_title
    = form.text_field :monthly_donation_title
  .field
    = form.label :monthly_donation_amounts
    = form.text_field :monthly_donation_amounts
    (Leave blank to hide monthly donations.)
  .field
    = form.label :monthly_donation_level_names
    = form.text_field :monthly_donation_level_names
  .field
    = form.label :monthly_donation_text
    = form.textile_area :monthly_donation_text

  .field
    = form.submit 'Save and Continue Editing', :name => 'donation_page[continue_editing]'
    = form.submit 'Save and Close'
    or
    = link_to 'Cancel', admin_root_path
