%h1 Donation Page
- form_for [:admin, @donation_page] do |form|
  = form.error_messages
  .field
    = form.label :parent_id
    = form.hidden_field :parent_id
    = @donation_page.parent.title
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :slug
    = form.text_field :slug
  .field
    = form.label :body
    = form.text_area :body
  .field
    = form.label :sidebar
    = form.text_area :sidebar
  .field
    = form.label :footer
    = form.text_area :footer

  %h2 Paypal Configuration
  %p If you enter the email address for a paypal account below, we'll include online donation buttons in the main section of the page, between the body and the footer.
  .field
    = form.label :paypal_account
    = form.text_field :paypal_account
  .field
    = form.label :currency
    = form.text_field :currency
  .field
    = form.label :donation_amounts
    = form.text_field :donation_amounts

  .field
    = form.submit 'Save and Continue Editing', :name => 'donation_page[continue_editing]'
    = form.submit 'Save and Close'
    or
    = link_to 'Cancel', admin_root_path
