.photo
  - form_for [:admin, photo], :html => { :multipart => true } do |form|
    = form.error_messages
    - unless photo.new_record?
      .field
        = link_to '&uarr;', admin_photo_path(photo, :photo => { :move_higher => true }), :method => :put
        = link_to '&darr;', admin_photo_path(photo, :photo => { :move_lower => true }), :method => :put
        = image_tag photo.photo.url(:thumbnail)
    .field
      = form.label :photo, 'Upload'
      = form.file_field :photo
    .field
      = form.label :caption
      = form.text_field :caption
    .field
      = form.hidden_field :content_id
      = form.hidden_field :content_type
      = form.submit
      - unless photo.new_record?
        or
        = link_to 'Delete', [:admin, photo], :method => :delete


