!!! XML
!!!
%html{html_attrs}
  %head
    = stylesheet_link_tag 'admin'
    = javascript_include_tag 'prototype'

  %body.admin
    - if @current_user
      %ul
        %li= link_to_unless_current 'Address Lists', admin_address_lists_path
        %li= link_to_unless_current 'Contents', admin_root_path
        %li
          Logged in as
          = @current_user.login
          = link_to 'Logout', admin_user_session_path, :method => :delete

    .content
      = yield