%h1 Section
- form_for [:admin, @section], :html => { :multipart => true } do |f|
  = f.error_messages
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.submit
    or
    = link_to 'Cancel', admin_sections_path
