%h1
  - if @section.new_record?
    New Section
  - else
    = @section.title

- form_for [:admin, @section] do |form|
  = form.error_messages
  .field
    = form.label :parent_id
    = form.hidden_field :parent_id
    = @section.parent.title
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :raw_keywords, 'Keywords'
    = form.text_field :raw_keywords
    .annotation= @section.keywords
  .field
    = form.label :raw_description, 'Description'
    = form.text_field :raw_description
    .annotation= @section.description
  .field
    = form.submit 'Save and Continue Editing', :name => 'section[continue_editing]'
    = form.submit 'Save and Close'
    or
    = link_to 'Cancel', admin_root_path
