%li[section]
  - if recurse && section.parent.sort_children_by_position?
    = link_to '&uarr;', admin_section_path(section, :section => { :move_higher => true }), :method => :put
    = link_to '&darr;', admin_section_path(section, :section => { :move_lower => true }), :method => :put

  = section.title

  - if recurse
    = link_to 'New Page', new_admin_page_path(:page => {:parent_id => section})
    = link_to 'New Composite Page', new_admin_composite_page_path(:composite_page => {:parent_id => section})
    = link_to 'New Two Column Page', new_admin_two_column_page_path(:two_column_page => {:parent_id => section})
    = link_to 'New Gallery', new_admin_gallery_path(:gallery => {:parent_id => section})

  = link_to 'Edit', edit_admin_section_path(section)
  = link_to 'Delete', admin_section_path(section), :method => :delete, :confirm => 'Are you sure you want to delete this Section and all of its Pages?'

  - if recurse
    %ol
      = render :partial => section.sorted_children, :locals => { :recurse => recurse }
