%li[section]
  = link_to '&uarr;', admin_section_path(section, :section => { :move_higher => true }), :method => :put
  = link_to '&darr;', admin_section_path(section, :section => { :move_lower => true }), :method => :put
  = section.title
  = link_to 'New Page', new_admin_page_path(:page => {:parent_id => section})
  = link_to 'New Gallery', new_admin_gallery_path(:gallery => {:parent_id => section})
  = link_to 'Edit', edit_admin_section_path(section)
  = link_to 'Delete', admin_section_path(section), :method => :delete, :confirm => 'Are you sure you want to delete this Section and all of its Pages?'
  %ol
    = render :partial => section.children
