%li[home]
  Home
  - if recurse
    = link_to 'New Section', new_admin_section_path(:section => {:parent_id => home})
    = link_to 'New Blog', new_admin_blog_path(:blog => {:parent_id => home})
    = link_to 'New Page', new_admin_page_path(:page => {:parent_id => home})
    = link_to 'New Two Column Page', new_admin_two_column_page_path(:two_column_page => {:parent_id => home})

  = link_to 'View', root_path
  = link_to 'Edit', edit_admin_home_path(home)

  - if recurse
    %ol
      = render :partial => home.sorted_children, :locals => { :recurse => recurse }
