.image
  = image_tag content.photo.url, :size => '500x500'

.text
  .breadcrumbs
    = breadcrumbs(content)

  %h2= content.title

  - if children.any?
    %ul.children
      - children.each do |child|
        %li= link_to_unless_current child.title, child.path

  = textilize content.body
