.image
  = slideshow_tag(page)

.text
  .breadcrumbs
    = breadcrumbs(page)

  %h2= page.title

  - if page.children.any?
    %ul.children
      - page.children.each do |child|
        %li= link_to_unless_current child.title, child.path

  = textilize page.body

  - if page.parent.is_a?(Section) && !page.last?
    %p.next_link
      = link_to "#{page.lower_item.title} &#x25ba;", page.lower_item.path
