.image
  = slideshow_tag(page)

.text
  .breadcrumbs
    = breadcrumbs(page)

  %h2= page.title

  - if page.children.any?
    %ul.children
      - page.children.each do |child|
        %li= link_to_unless_current child.title, child.path

  = textilize page.body

  - if page.parent.is_a?(Section)
    - target = page.last? ? (page.parent.lower_item.is_a?(Section) ? page.parent.lower_item.children.first : nil) : page.lower_item
    - if target
      .next_link
        = link_to "#{target.title} &#x25ba;", target.path, :class => 'button'
