.image
  = slideshow_tag(page)

.text
  .breadcrumbs
    = breadcrumbs(page)

  %h2= page.title

  - if page.show_children_at?(:top)
    = render :partial => 'pages/child_links', :locals => { :page => page }

  = textilize page.body

  - if page.show_children_at?(:bottom)
    = render :partial => 'pages/child_links', :locals => { :page => page }

  - if page.next_page
    .next_link
      = link_to "#{page.next_page.title} &#x25ba;", page.next_page.path, :class => 'button'
