.image
  = slideshow_tag(page)

.text
  .breadcrumbs
    = breadcrumbs(page)

  %h2= page.title

  - if page.children.any?
    %ul.children
      - page.children.each do |child|
        %li= link_to_unless_current child.title, child.path

  = textilize page.body

  - if page.next_page
    .next_link
      = link_to "#{page.next_page.title} &#x25ba;", page.next_page.path, :class => 'button'
