%h2 Subscribe To Our Newsletter

.padded
  %p One great way to learn more about the Amani children is to sign up for the Amani Children's Home e-newsletter. Each issue contains inspiring stories about the children's lives, insight into Amani's work in the community and updates about how, together with our supporters, Amani is transforming the lives of orphans and homeless children in Tanzania.

  - form_for(@subscription) do |form|
    .field.textfield
      = form.label :name
      = form.text_field :name
      = form.error_message_on :name
    .field.textfield
      = form.label :email
      = form.text_field :email
      = form.error_message_on :email
    .field.textfield
      = form.label :email_confirmation
      = form.text_field :email_confirmation
      = form.error_message_on :email_confirmation
    .submit
      = form.submit 'Subscribe'
