%h2 Subscribe To Our Newsletter

.padded
  - form_for(@subscription) do |form|
    .field.textfield
      = form.label :name
      = form.text_field :name
      = form.error_message_on :name
    .field.textfield
      = form.label :email
      = form.text_field :email
      = form.error_message_on :email
    .field.textfield
      = form.label :email_confirmation
      = form.text_field :email_confirmation
      = form.error_message_on :email_confirmation
    .submit
      = form.submit 'Subscribe'
