%li[two_column_page]
  - if recurse
    = link_to '&uarr;', admin_two_column_page_path(two_column_page, :two_column_page => { :move_higher => true }), :method => :put
    = link_to '&darr;', admin_two_column_page_path(two_column_page, :two_column_page => { :move_lower => true }), :method => :put

  = two_column_page.title

  - if recurse && two_column_page.parent === Section
    = link_to 'New Child Page', new_admin_page_path(:page => {:parent_id => two_column_page})
    = link_to 'New Child Two Column Page', new_admin_two_column_page_path(:two_column_page => {:parent_id => two_column_page})
    = link_to 'New Donation Page', new_admin_donation_page_path(:donation_page => {:parent_id => two_column_page})

  = link_to 'View', two_column_page.path
  = link_to 'Edit', edit_admin_two_column_page_path(two_column_page)
  = link_to 'Delete', admin_two_column_page_path(two_column_page), :method => :delete, :confirm => 'Are you sure you want to delete this Page and all of its Children?'

  - if recurse
    %ol
      = render :partial => two_column_page.children.positioned, :locals => { :recurse => recurse }
