= render :partial => 'blogs/archive', :locals => { :blog => post.parent }

.blog_text
  .breadcrumbs
    = breadcrumbs(post)

  .post
    %h1= post.title
    .timestamp
      Posted on
      = post.created_at.to_date.to_s(:long_ordinal) + '.'
    = textilize post.body
