.gallery
  %ul.thumbnails
    - children.each do |child|
      %li[child]
        = link_to image_tag(child.photo.url(:small), :size => '120x120', :class => "#{child == content ? 'current' : ''}"), child.path

  - unless content.is_a?(Gallery)
    = javascript_tag "$('.thumbnails').scrollTop(($('##{dom_id(content)}').prevAll().size() - 1) * 136);"

  .image
    = slideshow_tag(content, :style => :gallery, :size => '368x500')

.text
  .breadcrumbs
    = breadcrumbs(content)

  %h2
    = content.title
    - if content.is_a?(Page)
      = "(#{content.parent.children.index(content) + 1}/#{content.parent.children.size})"

  = textilize content.body
