.gallery
  %ul.thumbnails
    - children.each do |child|
      %li= link_to image_tag(child.photo.url(:small), :size => '120x120'), page_path(child.slug)

  .image
    = image_tag content.photo.url(:gallery), :size => '368x500'

.text
  .breadcrumbs
    = breadcrumbs(content)

  %h2= content.title
  = textilize content.body
