.gallery
  .thumbnails
    .arrow.up
      &#x25b2;
    %ul
      - children.each do |child|
        %li[child]{ :class => "#{child == content ? 'current' : ''}" }
          .caption{ :style => 'display:none' }= child.title
          = link_to image_tag(child.photo.url(:thumbnail), :size => '120x120'), child.path
    .arrow.down
      &#x25bc;

  .image
    = slideshow_tag(content.photos, :style => :gallery, :size => '368x500')

.text
  .breadcrumbs
    = breadcrumbs(content)

  %h1= content.title
  = textilize content.body

  - if content.next_page
    .next_link
      = link_to "#{content.next_page.title} &#x25ba;", content.next_page.path, :class => 'button'
