.gallery
  %ul.thumbnails
    - children.each do |child|
      %li[child]{ :class => "#{child == content ? 'current' : ''}" }
        = link_to image_tag(child.photo.url(:small), :size => '120x120'), child.path

  .image
    = slideshow_tag(content, :style => :gallery, :size => '368x500')

.text
  .breadcrumbs
    = breadcrumbs(content)

  %h2= content.title
  = textilize content.body
