%h1
  - if @blog.new_record?
    New Blog
  - else
    = link_to @blog.title, @blog.path

- form_for [:admin, @blog] do |form|
  = form.error_messages
  .field
    = form.label :parent_id
    = form.hidden_field :parent_id
    = @blog.parent.title
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :slug
    = form.text_field :slug
  .field
    = form.label :raw_keywords, 'Keywords'
    = form.text_field :raw_keywords
  .field
    = form.label :raw_description, 'Description'
    = form.text_field :raw_description
  .field
    = form.submit 'Save and Continue Editing', :name => 'blog[continue_editing]'
    = form.submit 'Save and Close'
    or
    = link_to 'Cancel', admin_root_path
