%table#donation_page
  %tbody
    %tr
      %td.left
        .padding
          = textilize donation_page.sidebar
      %td.middle
        .breadcrumbs= breadcrumbs(donation_page)
        %h1= donation_page.title
        = textilize donation_page.body
        = render :partial => 'donation_pages/online', :locals => { :donation_page => donation_page }
        = textilize donation_page.footer
      %td.right
        = render :partial => donation_page.photos, :locals => { :style => :small, :size => '200x200', :slideshow => false }

