.donation_page
  .left
    = textilize donation_page.sidebar

  .right
    = render :partial => donation_page.photos, :locals => { :style => :small, :size => '200x200', :slideshow => false }

  .middle
    .breadcrumbs= breadcrumbs(donation_page)
    %h2= donation_page.title
    = textilize donation_page.body
    = textilize donation_page.footer

