.paypal
  %h3= donation_page.one_time_donation_title
  = textilize(donation_page.one_time_donation_text)

  .donation_buttons
    - donation_page.donation_amounts_list.each do |amount|
      - donation_form_for(donation_page, :kind => :one_time, :amount => amount, :class => :inline) do |form|
        .single_field
          = form.submit "#{amount} #{donation_page.currency}"

    - donation_form_for(donation_page, :kind => :one_time, :class => :block) do |form|
      .label Or, specify a custom amount:
      .single_field
        = form.text_field :amount
        = donation_page.currency
        = form.submit "Donate"

  %h3= donation_page.monthly_donation_title
  = textilize(donation_page.monthly_donation_text)

  .donation_buttons
    - donation_page.donation_amounts_list.each do |amount|
      - donation_form_for(donation_page, :kind => :monthly, :amount => amount, :class => :inline) do |form|
        .single_field
          = form.submit "#{amount} #{donation_page.currency} Monthly"

    - donation_form_for(donation_page, :kind => :monthly, :class => :block) do |form|
      .label Or, specify a custom amount:
      .single_field
        = form.text_field :amount
        = donation_page.currency
        = form.submit "Schedule Monthly Donation"
