- if donation_page.show_one_time_donations?
  .online
    %h2= donation_page.one_time_donation_title
    = textilize(donation_page.one_time_donation_text)

    .donation_buttons
      %h4 Make your donation online
      - donation_page.one_time_donation_amounts_list.each do |amount|
        - donation_form_for(donation_page, :kind => :one_time, :amount => amount, :class => :inline) do |form|
          .single_field
            = form.submit "#{donation_page.currency_symbol}#{amount}"

      - donation_form_for(donation_page, :kind => :one_time, :class => :block) do |form|
        .label Or, specify a custom amount:
        .single_field
          = donation_page.currency_symbol
          = form.text_field :amount
          = form.submit "Donate"

- if donation_page.show_monthly_donations?
  .online
    %h2= donation_page.monthly_donation_title
    = textilize(donation_page.monthly_donation_text)

    .donation_buttons
      - donation_page.monthly_donation_amounts_with_level_names.each do |amount, level_name|
        - donation_form_for(donation_page, :kind => :monthly, :amount => amount, :class => 'inline helping-hands') do |form|
          .single_field
            = image_submit_tag "#{level_name.downcase}.png", :class => 'helping-hands-image'
          .single_field
            = form.submit "#{donation_page.currency_symbol}#{amount}: #{level_name.titleize} Helping Hand"

      - donation_form_for(donation_page, :kind => :monthly, :class => :block) do |form|
        .label Or, specify a custom amount:
        .single_field
          = donation_page.currency_symbol
          = form.text_field :amount
          = form.submit "Schedule Monthly Donation"
