!!! XML
!!!
%html{html_attrs}
  %head
    %title Amani Children's Home | Moshi, Tanzania
    = stylesheet_link_tag 'content', 'document', 'donation_page', 'form', 'header', 'navigation', '/facebox/facebox', 'facebox', :cache => true
    = javascript_include_tag 'jquery', '/facebox/facebox', 'application', :cache => true
    = auto_discovery_link_tag :atom, formatted_feed_path(:atom)
    %meta{:name => 'keywords', :content => 'AIDS orphans, street-children, orphanage, volunteer, Moshi, street-kids, Kilimanjaro, street-children, orphans, Africa, sponsor-a-child, Tanzania, AIDS kids'}
    %meta{:name => 'description', :content => "Amani Children's Home, a non-profit home for orphans and street-children in Tanzania"}

  %body
    .header
      %h1.logo
        = link_to_unless_current image_tag('logo.jpg', :size => '209x88', :alt => "Amani Children's Home"), root_path
      .tagline
        Rescuing Children. Restoring Hope. Transforming Lives.
      %ul.links
        %li= link_to image_tag('home.jpg')      + content_tag(:span, 'Home'),       root_path
        %li= link_to image_tag('donate.jpg')    + content_tag(:span, 'Donate'),     '/donate'
        %li= link_to image_tag('subscribe.jpg') + content_tag(:span, 'Newsletter'), '/subscriptions/new', :rel => 'facebox'
        %li= link_to image_tag('contact.jpg')   + content_tag(:span, 'Contact'),    '/contact'

    .navigation
      %ul.tops
        - if Home.first
          - Home.first.children.positioned.each_with_index do |top, index|
            %li.top{:class => "#{(index.zero? ? 'first' : '')}"}
              - if top.path
                = link_to top.title, top.path, :class => :title
              - elsif top.navigation_children.any?
                = link_to top.title, top.navigation_children.positioned.first.path, :class => :title
              - else
                .title= top.title

              - if top.navigation_children.any?
                %ul.children
                  - top.navigation_children.positioned.each do |child|
                    %li.child
                      = link_to child.title, child.path, :class => :title

    #content
      = yield

      .footer
        = link_to('Share this Page', new_share_path(@content), :class => 'share button', :rel => :facebox) if @content
        %p.copyright
          = mail_to 'info@amanikids.org', "Amani Children&#8217;s Home", :encode => :hex
          &copy;
          = copyright_year(2009)
        %p.thanks
          .line This website was made possible through the volunteer efforts of Patricia Tollenaar,
          .line Adam Smith, Colby Anderson, Libby Ventura, Joachim Mangilima, and Matthew Todd.
        %p.edit
          = link_to('Edit this Page', [:edit, :admin, @content], :class => 'edit_this_page', :style => 'display: none') if @content
