!!! XML
!!!
%html{html_attrs}
  %head
    %title Amani Children's Home | Moshi, Tanzania
    = stylesheet_link_tag 'content', 'document', 'form', 'header', 'navigation', '/facebox/facebox', 'facebox', :cache => true
    = javascript_include_tag 'jquery', '/facebox/facebox', 'application', :cache => true
    = auto_discovery_link_tag :atom, formatted_feed_path(:atom)

  %body
    .header
      %h1.logo
        = link_to_unless_current image_tag('logo.jpg', :size => '209x88', :alt => "Amani Children's Home"), root_path
      .tagline
        Rescuing Children. Restoring Hope. Transforming Lives.
      %ul.links
        %li= link_to image_tag('home.jpg')      + content_tag(:span, 'Home'),      root_path
        %li= link_to image_tag('donate.jpg')    + content_tag(:span, 'Donate'),    '/donate'
        %li= link_to image_tag('subscribe.jpg') + content_tag(:span, 'Subscribe'), root_path
        %li= mail_to 'info@amanikids.org', image_tag('contact.jpg') + content_tag(:span, 'Contact'), :encode => 'javascript'

    .navigation
      %ul.tops
        - if Home.first
          - Home.first.children.positioned.each_with_index do |top, index|
            %li.top{:class => "#{(index.zero? ? 'first' : '')}"}
              - if top.path
                = link_to top.title, top.path, :class => :title
              - elsif top.navigation_children.any?
                = link_to top.title, top.navigation_children.positioned.first.path, :class => :title
              - else
                .title= top.title

              - if top.navigation_children.any?
                %ul.children
                  - top.navigation_children.positioned.each do |child|
                    %li.child
                      = link_to child.title, child.path, :class => :title

    .content
      = yield

      .share
        = link_to 'Share this Page', new_share_path(@content), :class => 'button', :rel => :facebox

      .footer
        Contact Us:
        = mail_to 'info@amanikids.org', nil, :encode => 'javascript'
