!!! XML
!!!
%html{html_attrs}
  %head
    %title Amani Children's Home | Moshi, Tanzania
    = stylesheet_link_tag 'application'

  %body
    .header
      %h1.logo
        = link_to_unless_current image_tag('logo.jpg', :size => '209x88', :alt => "Amani Children's Home"), root_path

    %ul.navigation
      - Section.ordered.each do |section|
        %li.section
          .title
            = section.title
          - if section.pages.any?
            %ul.pages
              - section.pages.each do |page|
                %li.page
                  = link_to page.title, page

    .content
      = yield
