!!! XML
!!!
%html{html_attrs}
  %head
    %title
      - if @content
        = "#{@content.title} &mdash; Amani Children's Home | Moshi, Tanzania"
      - else
        Amani Children's Home | Moshi, Tanzania
    = stylesheet_link_tag '/facebox/facebox', 'all'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'
    = javascript_include_tag '/facebox/facebox', 'application'
    = auto_discovery_link_tag :atom, formatted_feed_path(:atom)
    - if @content
      %meta{:name => 'keywords', :content => @content.keywords}
      %meta{:name => 'description', :content => @content.description}
    - else
      %meta{:name => 'keywords', :content => Content::DEFAULT_KEYWORDS}
      %meta{:name => 'description', :content => Content::DEFAULT_DESCRIPTION}
    %meta{:name => 'verify-v1', :content => 'Os/TJcjqoDK1ZeijfwOnR54iwtIojmFR8OB0rgHYxk0=' }
    %meta{:name => 'verify-v1', :content => 'xW7hK3nESF60mL2t+kykYkQJKvLTUhxd+ZNexNazfjw=' }
  %body
    .header
      .logo
        = link_to_unless_current image_tag('logo.jpg', :size => '209x90', :alt => "Amani Children's Home"), root_path
      .tagline
        Rescuing Children. Restoring Hope. Transforming Lives.
      %ul.links
        %li= link_to image_tag('home.jpg')      + content_tag(:span, 'Home'),       root_path
        %li= link_to image_tag('donate.jpg')    + content_tag(:span, 'Donate'),     '/donate'
        %li= link_to image_tag('subscribe.jpg') + content_tag(:span, 'Newsletter'), '/subscriptions/new', :rel => 'facebox'
        %li= link_to image_tag('contact.jpg')   + content_tag(:span, 'Contact'),    '/contact'

    .navigation
      %ul.tops
        - if Home.first
          - Home.first.sorted_children.each_with_index do |top, index|
            %li.top{:class => "#{(index.zero? ? 'first' : '')}"}
              - if top.path
                = link_to top.title, top.path, :class => :title
              - elsif top.navigation_children.any?
                = link_to top.title, top.navigation_children.first.path, :class => :title
              - else
                .title= top.title

              - if top.navigation_children.any?
                %ul.children
                  - top.navigation_children.each do |child|
                    %li.child= link_to child.title, child.path, :class => :title

    #content
      = yield

      .footer
        = link_to('Share this Page', new_share_path(@content), :class => 'share button', :rel => :facebox) if @content
        %p.copyright
          = mail_to 'info@amanikids.org', "Amani Children&#8217;s Home", :encode => :hex
          &copy;
          = copyright_year(2009)
        %p.thanks
          .line This website was made possible through the volunteer efforts of Patricia Tollenaar,
          .line Adam Smith, Colby Anderson, Libby Ventura, Joachim Mangilima, and Matthew Todd.
        %p= link_to 'Sitemap', sitemap_path
        %p.edit
          = link_to('Edit this Page', [:edit, :admin, @content], :class => 'edit_this_page', :style => 'display: none') if @content

    = render(:partial => 'layouts/google_analytics') if Rails.env.production?
